*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
 
form{
    margin-left: 20px;
    margin-top: 10px;
    background-color: yellowgreen;
    border-radius: 20px;
    padding: 20px 20px;
    width: 50%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.step{
    width: 80%;
}
.step div{
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 10px;
    border: 2px white solid;
    padding:10px 10px;
    border-radius: 10px;
    display: flex;
 
    /* align-items: center; */
  
}

h3{
    margin-right: 20%;
}
input{
    border: none;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    
}
input::placeholder{
    margin-left: 1px;
}
textarea{
    border:none;
    height: 100px;
    border-radius: 5px;
}
.checks{

    align-items: center;
}
.checks *{
    margin-left: 10px;
}
button{
    margin-top: 10px;
    background-color: darkolivegreen;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    color: white;
    font-weight: 300;
    
    font-family:'Courier New', Courier, monospace
}