*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
   
}
header,aside,nav,footer,section {
    margin-top:10px;
    width:100%;
    font-size:1em;
    background-color:grey;
    color:white;
    text-align: center;
    
}
article{
    width:100%;
    margin-top:0px;
    background-color:white;
}
section{

    width: 100%;
}
.second-div{
   
    display:flex;
    height: 100%;
}
   
   
  
aside{
    
    margin-left: 10px;
    width:40%
}